<!-- Essential javascripts for application to work-->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="{{ url_for('static', filename='js/plugins/pace.min.js') }}"></script>
    <!-- Page specific javascripts-->