<!DOCTYPE html>
<html lang="en">
<head>
    <title>Technocrats | Monitoring System</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/_styles.html' %}
</head>
<body class="app sidebar-mini">
<!-- Navbar-->
{% include 'partials/_navbar.html' %}
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
{% include 'partials/_sidebar.html' %}
<main class="app-content">
    {% block appTitle %}
        {#<div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> Blank Page</h1>
          <p>Start a beautiful journey here</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">Blank Page</a></li>
        </ul>
      </div>#}
    {% endblock %}
    <div class="row">
        <div class="col-md-12">
            {% block content %}{% endblock %}
        </div>
    </div>
</main>

{% include 'partials/_scripts.html' %}
{% block scripts %}{% endblock %}
</body>
</html>