<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/_styles.html' %}
    <title>Register - Technocrats</title>
  </head>
  <body>
    <section class="material-half-bg">
      <div class="cover"></div>
    </section>
    <section class="login-content">
      <div class="logo">
        <h1>Technocrats</h1>
      </div>
      <div class="login-box" style="min-height: 490px!important;">
        <form class="login-form" action="{{ url_for('register') }}" method="post">
          <h3 class="login-head"><i class="fa fa-lg fa-fw fa-coffee"></i>Register</h3>
          <div class="form-group">
            <label class="control-label">NAME</label>
            <input name="t_name" class="form-control" type="text" placeholder="Name" autofocus>
          </div>
          <div class="form-group">
            <label class="control-label">USERNAME</label>
            <input name="t_username" class="form-control" type="text" placeholder="Username">
          </div>
          <div class="form-group">
            <label class="control-label">PASSWORD</label>
            <input name="t_password" class="form-control" type="password" placeholder="Password">
          </div>
          <div class="form-group">
            <div class="utility">

            </div>
          </div>
          <div class="form-group btn-container">
            <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>REGISTER</button>
          </div>
        </form>
      </div>
    </section>
    {% include 'partials/_scripts.html' %}
    <script type="text/javascript">
      // Login Page Flipbox control
      $('.login-content [data-toggle="flip"]').click(function() {
      	$('.login-box').toggleClass('flipped');
      	return false;
      });
    </script>
  </body>
</html>